django
psycopg2-binary
djangorestframework
drf-nested-routers
django-filter
djangorestframework-simplejwt
django-cors-headers
Pillow
sentry_sdk
gspread
drf-dynamic-fields
arrow
pytz
django-cleanup
channels
channels_redis
pylint-django
mypy
pip
uvicorn
python-telegram-bot
flake8
pip