<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Estudio comparativo</title>
    <link
            rel="icon"
            href="images/favicon.svg"
            sizes="any"
            type="image/svg+xml"
    />
    <style>
        table {
            max-width: 750px;
            margin: auto;
            padding: 0;
        }

        td {
            color: #004680;
            white-space: nowrap;
            line-height: 12px;
            text-align: center;
            font-size: 11px;
        }

        .left-text > tr > td {
            text-align: left;
        }

        .signature {
            text-align: right;
            font-style: italic;
            font-size: 11px;
            color: #004680;
        }

        .signature > p {
            line-height: 1px;
            padding: 0;
        }

        .f-table > tbody > tr > td:nth-child(2) {
            width: 100px;
        }
    </style>
</head>
<body>
<table>
    <tbody>
    <tr>
        <td style="padding-left: 15px; padding-right: 15px; text-align: center;">
            <img src="https://call-visit.gestiongroup.es/img/logo.png"
                 style="max-width: 333px; height: 111px;"
                 alt="Logo"
            />
            <div class="signature" style="width: 100%">
                <p>№ {{ new.id }}</p>
                <p>Fecha de la propuesta: {{ date }}</p>
                <p>Periodo de validez: 7 Días</p>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<table>
    <tbody>
    <tr>
        <td style="text-align: center; padding: 0 0 0">
            <div style="
                            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                            font-size: 24px;
                            text-transform: uppercase;
                            font-weight: bold;
                            color: #004680;
                          ">
                ESTUDIO COMPARATIVO
            </div>
        </td>
    </tr>

    <tr>
        <table>
            <tbody style="margin-right: 15em; display: block">
            <tr>
                <td style="text-align: left">
                    <div>
                        <div style="text-align: left;
                            font-family: Helvetica Neue, Helvetica,
                              Arial, sans-serif;
                            font-size: 14px;
                            line-height: 1.4;
                          ">
                          <span style="color: #004680">
                            <span style="font-size: 12px">
                              NOMBRE DEL CLIENTE:
                              <span
                                      style="
                                  color: rgb(0, 0, 0);
                                  font-size: 12px;
                                "
                              >{{ client_name }}</span
                              >
                            </span>
                          </span>
                        </div>
                        <div
                                style="
                            margin-right: auto;
                            font-family: Helvetica Neue, Helvetica,
                              Arial, sans-serif;
                            font-size: 14px;
                            line-height: 1.4;
                          "
                        >
                          <span style="font-size: 12px"
                          ><span style="color: #004680"
                          >DIRECCIÓN:
                              <span style="color: rgb(0, 0, 0)"
                              >{{ direccion }}<span
                                      style="color: #004680"
                              ><br/>
                                </span>
                              </span>
                            </span>
                          </span>
                        </div>
                        <div
                                style="
                            margin-right: auto;
                            font-family: Helvetica Neue, Helvetica,
                              Arial, sans-serif;
                            font-size: 14px;
                            line-height: 1.4;
                          "
                        >
                          <span style="font-size: 12px"
                          ><span style="color: #004680"
                          >CUPS:
                              <span style="color: rgb(0, 0, 0)"
                              >{{ cups }}
                              </span>
                            </span>
                          </span>
                        </div>
                        {% if new.kind == 'luz' %}
                            <div
                                    style="
                            margin-right: auto;
                            font-family: Helvetica Neue, Helvetica,
                              Arial, sans-serif;
                            font-size: 14px;
                            line-height: 1.4;
                          "
                            >
                          <span style="font-size: 12px"
                          ><span style="color: #004680"
                          >POTENCIA CONTRATADA (kW):
                              <span style="color: rgb(0, 0, 0)"
                              >{{ old.p1 }}{% if old.p2 != '-' %}; {{ old.p2 }}{% endif %}
                                  {% if old.p3 != '-' %};
                                      {{ old.p3 }}{% endif %}</span></span
                          ></span
                          >
                            </div>
                        {% endif %}
                        <div
                                style="
                            margin-right: auto;
                            font-family: Helvetica Neue, Helvetica,
                              Arial, sans-serif;
                            color: #444444;
                            font-size: 14px;
                            line-height: 1.4;
                          "
                        >
                          <span style="color: #004680"
                          ><span style="font-size: 12px"
                          >TARIFA: <span
                                  style="color: rgb(0, 0, 0)"
                          ><span style="font-size: 12px"
                          >{{ new.tarif }}
                                </span></span
                          ></span
                          ></span
                          >
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </tr>
    </tbody>
</table>

<br>


<table>
    <tbody>
    <tr>
        <td colspan="5" style="font-size: 14px; color: red;">
            FACTURACION ACTUAL
        </td>
        <td colspan="5" style="font-size: 14px; color: darkgreen">
            PROPUESTA DE FACTURACION
        </td>
    </tr>

    <tr>
        <td colspan="5">
            Comercializadora: {{ old.company_name }}
        </td>
        <td colspan="5">
            Comercializadora: {{ new.company_name }}
        </td>
    </tr>

    <tr>
        <td colspan="5">
            Oferta: {{ old.name }}
        </td>
        <td colspan="5">
            Oferta: {{ new.name }}
        </td>
    </tr>

    <tr>
        <td colspan="10"><br></td>
    </tr>

    <tr>
        <td>
            <u><em>T. Fijo</em></u>
        </td>
        <td>
            {% if new.kind == 'luz' %}
                <u><em>Potencia</em></u>
            {% endif %}
        </td>
        <td>
            <u><em>x Días</em></u>
        </td>
        <td>
            <u><em>x €/kW Día</em></u>
        </td>
        <td>
            <u><em style="margin-right: 2em">TOTALES</em></u>
        </td>
        <td>
            <u><em>T. Fijo</em></u>
        </td>
        <td>
            {% if new.kind == 'luz' %}
                <u><em>Potencia</em></u>
            {% endif %}
        </td>
        <td>
            <u><em>x Días</em></u>
        </td>
        <td>
            <u><em>x €/kW Día</em></u>
        </td>
        <td>
            <u><em>TOTALES</em></u>
        </td>
    </tr>
    <tr>
        <td>
            {% if new.kind == 'luz' %}P1:{% endif %}
        </td>
        <td>
            {% if new.kind == 'luz' %}{{ old.p1 }}{% endif %}
        </td>
        <td>
            {{ period }}
        </td>
        <td>
            {{ old.p1_offer }}
        </td>
        <td>
            {{ old.st_p1 }} €
        </td>

        <td>
            {% if new.kind == 'luz' %}P1:{% endif %}
        </td>
        <td>
            {% if new.kind == 'luz' %}{{ old.p1 }}{% endif %}
        </td>
        <td>
            {{ period }}
        </td>
        <td>
            {{ new.p1 }}
        </td>
        <td>
            {{ new.st_p1 }} €
        </td>
    </tr>
    {% if old.p2 != '-' %}
        <tr>
            <td>
                P2:
            </td>
            <td>
                {{ old.p2 }}
            </td>
            <td>
                {{ period }}
            </td>
            <td>
                {{ old.p2_offer }}
            </td>
            <td>
                {{ old.st_p2 }} €
            </td>

            <td>
                P2:
            </td>
            <td>
                {{ old.p2 }}
            </td>
            <td>
                {{ period }}
            </td>
            <td>
                {{ new.p2 }}
            </td>
            <td>
                {{ new.st_p2 }} €
            </td>
        </tr>
    {% endif %}
    {% if old.p3 != '-' %}
        <tr>
            <td>
                P3:
            </td>
            <td>
                {{ old.p3 }}
            </td>
            <td>
                {{ period }}
            </td>
            <td>
                {{ old.p3_offer }}
            </td>
            <td>
                {{ old.st_p3 }} €
            </td>

            <td>
                P3:
            </td>
            <td>
                {{ old.p3 }}
            </td>
            <td>
                {{ period }}
            </td>
            <td>
                {{ new.p3 }}
            </td>
            <td>
                {{ new.st_p3 }} €
            </td>
        </tr>
    {% endif %}
    <tr>
        <td colspan="3">
        </td>
        <td>
            SUMAS
        </td>
        <td>
            <strong>{{ old.st_p }} €</strong>
        </td>
        <td colspan="3">
        </td>
        <td>
            SUMAS
        </td>
        <td>
            <strong>{{ new.st_p }} €</strong>
        </td>
    </tr>

    <tr>
        <td colspan="10"><br></td>
    </tr>

    <tr>
        <td>
            <em><u>T. Var.</u></em>
        </td>
        <td>
            <u><em>Consumo kWh</em></u>
        </td>
        <td colspan="2">
            <u><em>x €/kWh</em></u>
        </td>
        <td>
            <u><em>TOTALES</em></u>
        </td>
        <td>
            <u><em>T. Var.</em></u>
        </td>
        <td>
            <u><em>Consumo kWh</em></u>
        </td>
        <td colspan="2">
            <u><em>x €/kWh</em></u>
        </td>
        <td style="text-align: right">
            <u><em>TOTALES</em></u>
        </td>
    </tr>
    <tr>
        <td>
            P1:
        </td>
        <td>
            {{ old.c1 }}
        </td>
        <td colspan="2">
            {{ old.c1_offer }}
        </td>
        <td>
            {{ old.st_c1 }} €
        </td>
        <td>
            P1:
        </td>
        <td>
            {{ old.c1 }}
        </td>
        <td colspan="2">
            {{ new.c1 }}
        </td>
        <td style="text-align: right">
            {{ new.st_c1 }} €
        </td>
    </tr>
    {% if old.p2 != '-' %}
        <tr>
            <td>
                P2:
            </td>
            <td>
                {{ old.c2 }}
            </td>
            <td colspan="2">
                {{ old.c2_offer }}
            </td>
            <td>
                {{ old.st_c2 }} €
            </td>
            <td>
                P2:
            </td>
            <td>
                {{ old.c2 }}
            </td>
            <td colspan="2">
                {{ new.c2 }}
            </td>
            <td style="text-align: right">
                {{ new.st_c2 }} €
            </td>
        </tr>
    {% endif %}
    {% if old.c3 != '-' %}
        <tr>
            <td>
                P3:
            </td>
            <td>
                {{ old.c3 }}
            </td>
            <td colspan="2">
                {{ old.c3_offer }}
            </td>
            <td>
                {{ old.st_c3 }} €
            </td>
            <td>
                P3:
            </td>
            <td>
                {{ old.c3 }}
            </td>
            <td colspan="2">
                {{ new.c3 }}
            </td>
            <td style="text-align: right">
                {{ new.st_c3 }} €
            </td>
        </tr>
    {% endif %}
    <tr>
        <td colspan="3"></td>
        <td>
            SUMAS
        </td>
        <td>
            <strong>{{ old.st_c }} €</strong>
        </td>

        <td colspan="3"></td>

        <td style="text-align: center">
            SUMAS
        </td>

        <td>
            <strong>{{ new.st_c }} €</strong>
        </td>
    </tr>

    <tr>
        <td colspan="10"><br></td>
    </tr>

    {% if new.kind == 'luz' %}
        <tr>
            <td colspan="3">
                {% if new.reactive %}
                    <em>ENERGIA REACTIVA:</em>
                {% endif %}
            </td>
            <td colspan="2">
                {% if new.reactive %}
                    {{ new.reactive }} €
                {% endif %}
            </td>
            <td colspan="3">
                {% if new.reactive %}
                    <em>ENERGIA REACTIVA:</em>
                {% endif %}
            </td>
            <td colspan="2">
                {% if new.reactive %}
                    {{ new.reactive }} €
                {% endif %}
            </td>
        </tr>
    {% endif %}
    <tr>
        <td colspan="3">
            <em>ALQUILER EQUIPOS:</em>
        </td>

        <td colspan="2">
            {{ old.rental }} €
        </td>

        <td colspan="3">
            <em>ALQUILER EQUIPOS:</em>
        </td>

        <td colspan="2">
            {{ new.rental }} €
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <em>{% if new.kind == 'luz' %}IMP. ELECTRICIDAD:{% else %} IMP.
                HIDROCARBUROS{% endif %}</em>
        </td>

        <td colspan="2">
            {{ old.tax }} €
        </td>

        <td colspan="3">
            <em>{% if new.kind == 'luz' %}IMP. ELECTRICIDAD:{% else %}
                IMP. HIDROCARBUROS{% endif %}</em> ({{ new.tax.percent }}%)
        </td>

        <td colspan="2">
            {{ new.tax.value }} €
        </td>
    </tr>
    {% if old.otros %}
        <tr>
            <td colspan="3">
                <em>OTROS:</em>
            </td>
            <td colspan="2">
                {{ old.otros }} €
            </td>
            <td colspan="3">
                <em>OTROS:</em>
            </td>
            <td colspan="2">
                - €
            </td>
        </tr>
    {% endif %}
    <tr>
        <td colspan="3">
            <em>OTROS CONCEPTOS:</em>
        </td>
        <td colspan="2">
            {{ old.oc }} €
        </td>
        <td colspan="3">
            <em>OTROS CONCEPTOS:</em>
        </td>
        <td colspan="2">
            {{ new.oc }} €
        </td>
    </tr>
    {% if old.descuento %}
        <tr>
            <td colspan="3">
                <em>DESCUENTO:</em>
            </td>
            <td colspan="2">
                {{ old.descuento }} €
            </td>
            <td colspan="3">
                <em>DESCUENTO:</em>
            </td>
            <td colspan="2">
                - €
            </td>
        </tr>
    {% endif %}
    <tr>
        <td colspan="3">
            <em>BASE IMPONIBLE:</em>
        </td>
        <td colspan="2">
            {{ old.bi }} €
        </td>
        <td colspan="3">
            <em>BASE IMPONIBLE:</em>
        </td>
        <td colspan="2">
            {{ new.bi }} €
        </td>
    </tr>
    <tr>
        <td colspan="3">
            {% if old.igic == 'true' %}
                IGIC
            {% else %}
                I.V.A
            {% endif %}

            {% if old.iva.percent %}
                ({{ old.iva.percent }} %)
            {% endif %}
            :
        </td>

        <td colspan="2">
            {{ old.iva.value }} €
        </td>

        <td colspan="3">
            {% if old.igic == 'true' %}
                IGIC
            {% else %}
                I.V.A
            {% endif %}
            ({{ new.iva.percent }}):
        </td>

        <td colspan="2">
            {{ new.iva.value }} €
        </td>
    </tr>

    <tr>
        <td colspan="10"><br></td>
    </tr>

    <tr>
        <td colspan="3" style="color: red; font-size: 16px; font-weight: bolder">
            TOTAL:
        </td>
        <td colspan="2" style="color: red; font-size: 16px; font-weight: bolder">{{ old.total }} €</td>
        <td colspan="3" style="color: darkgreen; font-size: 16px; font-weight: bolder">
            TOTAL:
        </td>
        <td colspan="2" style="color: darkgreen; font-size: 16px; font-weight: bolder">{{ new.total }} €</td>
    </tr>

    </tbody>
</table>

<br>

<table>
    <tbody>
    <tr>
        <td
                style="
                                        padding: 5px;
                          text-align: left;
                          background-color: rgb(0, 70, 128);
                        "
        >
            <div style="text-align: center; font-weight: bolder; font-size: 16px">
                          <span style="color: white">
                            AHORRO EN FACTURA: {{ new.profit }} € ({{ new.profit_percent }}%)
                          </span>
                <br/>
                <br/>
                <span style="color: white">
                            AHORRO ANUAL: {{ new.annual_profit }} €
                          </span>
            </div>
        </td>
    </tr>
    </tbody>
</table>

{% if note %}
    <table>
        <tbody style="display: block; margin-right: 15em">
        <tr>
            <td>
            <span style="left: 0">
                <em>Nota:</em> {{ note }}
            </span>
            </td>
        </tr>
        </tbody>
    </table>
{% endif %}

<br>

<div style="display: flex; justify-content: center">
    <img
            style="width: 50px"
            src="https://static.tildacdn.com/tild3963-3830-4534-b366-396334633532/employee_1.png"
            alt="Employee"
            width="50"
    />
</div>

<br>

<div style="font-size: 12px; text-align: center">
    <div>
        <strong>Nombre del asesor:</strong> {{ agent }}
    </div>
    <div>
        <strong>Teléfono de contacto:</strong> {{ agent_phone }}
    </div>
    <div>
        <strong>Email:</strong> {{ agent_email }}
    </div>
</div>

<div style="text-align: center">
    <div>
        <img style="width: 60px"
             src="https://static.tildacdn.com/tild3638-3938-4639-a639-653464643630/GG_LOGO_BIG_3.png"
             class="fr-dib"
             width="60" alt="Logo"
        />
    </div>

    <div style="font-size: 12px">
        <a href="https://gestiongroup.es">gestiongroup.es</a>
    </div>

</div>


</body>
</html>
