<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Estudio comparativo</title>
    <link
            rel="icon"
            href="images/favicon.svg"
            sizes="any"
            type="image/svg+xml"
    />
    <style>
        table {
            max-width: 750px;
            margin: auto;
            padding: 0;
        }

        td {
            color: #004680;
            white-space: nowrap;
            line-height: 12px;
            text-align: center;
            font-size: 11px;
        }

        .left-text > tr > td {
            text-align: left;
        }

        .signature {
            text-align: right;
            font-style: italic;
            font-size: 11px;
            color: #004680;
        }

        .signature > p {
            line-height: 1px;
            padding: 0;
        }
    </style>
</head>
<body>
<table>
    <tbody>
    <tr>
        <td style="padding-left: 15px; padding-right: 15px; text-align: center;">
            <img src="https://static.tildacdn.com/tild3064-6339-4335-b062-623135663063/GG_LOGO_004680.png"
                 style="max-width: 333px; height: 111px;"
                 alt="Logo"
            />
            <div class="signature" style="width: 100%">
                <p>№ {{ new.id }}</p>
                <p>Fecha de la propuesta: {{ date }}</p>
                <p>Periodo de validez: 7 Días</p>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<table>
    <tbody>
    <tr>
        <td style="text-align: center; padding: 0 0 0">
            <div style="
                            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                            font-size: 24px;
                            text-transform: uppercase;
                            font-weight: bold;
                            color: #004680;
                          ">
                ESTUDIO COMPARATIVO
            </div>
        </td>
    </tr>
    <br>
    <tr>
        <table>
            <tbody style="margin-right: 15em; display: block">
            <tr>
                <td style="text-align: left">
                    <div>
                        <div style="text-align: left;
                            font-family: Helvetica Neue, Helvetica,
                              Arial, sans-serif;
                            font-size: 14px;
                            line-height: 1.4;
                          ">
                          <span style="color: #004680">
                            <span style="font-size: 12px">
                              NOMBRE DEL CLIENTE:
                              <span
                                      style="
                                  color: rgb(0, 0, 0);
                                  font-size: 12px;
                                "
                              >{{ client_name }}</span
                              >
                            </span>
                          </span>
                        </div>
                        <div
                                style="
                            margin-right: auto;
                            font-family: Helvetica Neue, Helvetica,
                              Arial, sans-serif;
                            font-size: 14px;
                            line-height: 1.4;
                          "
                        >
                          <span style="font-size: 12px"
                          ><span style="color: #004680"
                          >DIRECCIÓN:
                              <span style="color: rgb(0, 0, 0)"
                              >{{ direccion }}<span
                                      style="color: #004680"
                              ><br/>
                                </span>
                              </span>
                            </span>
                          </span>
                        </div>
                        <div
                                style="
                            margin-right: auto;
                            font-family: Helvetica Neue, Helvetica,
                              Arial, sans-serif;
                            font-size: 14px;
                            line-height: 1.4;
                          "
                        >
                          <span style="font-size: 12px"
                          ><span style="color: #004680"
                          >CUPS:
                              <span style="color: rgb(0, 0, 0)"
                              >{{ cups }}
                              </span>
                            </span>
                          </span>
                        </div>
                        {% if new.kind == 'luz' %}
                            <div
                                    style="
                            margin-right: auto;
                            font-family: Helvetica Neue, Helvetica,
                              Arial, sans-serif;
                            font-size: 14px;
                            line-height: 1.4;
                          "
                            >
                          <span style="font-size: 12px"
                          ><span style="color: #004680"
                          >POTENCIA CONTRATADA (kW):
                              <span style="color: rgb(0, 0, 0)"
                              >{{ old.p1 }}{% if old.p2 != '-' %}; {{ old.p2 }}{% endif %}
                                  {% if old.p3 != '-' %};
                                      {{ old.p3 }}{% endif %}</span></span
                          ></span
                          >
                            </div>
                        {% endif %}
                        <div
                                style="
                            margin-right: auto;
                            font-family: Helvetica Neue, Helvetica,
                              Arial, sans-serif;
                            color: #444444;
                            font-size: 14px;
                            line-height: 1.4;
                          "
                        >
                          <span style="color: #004680"
                          ><span style="font-size: 12px"
                          >TARIFA: <span
                                  style="color: rgb(0, 0, 0)"
                          ><span style="font-size: 12px"
                          >{{ new.tarif }}
                                </span></span
                          ></span
                          ></span
                          >
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </tr>
    </tbody>
</table>


<br>

<table>
    <tbody>
    <tr>
        <td>
            <table>
                <tbody>
                <tr>
                    <td>
                        <table style="width: 100%">
                            <tbody>
                            <tr>
                                <td style="font-size: 14px; color: red">
                                    FACTURACION ACTUAL
                                </td>
                                <td style="font-size: 14px; color: darkgreen">
                                    PROPUESTA DE FACTURACION
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Comercializadora: {{ old.company_name }}
                                </td>
                                <td>
                                    Comercializadora: {{ new.company_name }}
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Oferta: {{ old.name }}
                                </td>
                                <td>
                                    Oferta: {{ new.name }}
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr style="height: 19px">
                    <td style="height: 19px">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <u><em>T. Fijo</em></u>
                                </td>
                                <td>
                                    {% if new.kind == 'luz' %}
                                        <u><em>Potencia</em></u>
                                    {% endif %}
                                </td>
                                <td>
                                    <u><em>x Días</em></u>
                                </td>

                                <td>
                                    <u><em>x €/kW Día</em></u>
                                </td>
                                <td>
                                    <u><em style="margin-right: 2em">TOTALES</em></u>
                                </td>

                                <td>
                                    <u><em>T. Fijo</em></u>
                                </td>
                                <td>
                                    {% if new.kind == 'luz' %}
                                        <u><em>Potencia</em></u>
                                    {% endif %}
                                </td>
                                <td>
                                    <u><em>x Días</em></u>
                                </td>
                                <td>
                                    <u><em>x €/kW Día</em></u>
                                </td>
                                <td>
                                    <u><em>TOTALES</em></u>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if new.kind == 'luz' %}P1:{% endif %}
                                </td>
                                <td>
                                    {% if new.kind == 'luz' %}{{ old.p1 }}{% endif %}
                                </td>
                                <td>
                                    {{ period }}
                                </td>
                                <td>
                                    {{ old.p1_offer }}
                                </td>
                                <td>
                                    {{ old.st_p1 }} €
                                </td>

                                <td>
                                    {% if new.kind == 'luz' %}P1:{% endif %}
                                </td>
                                <td>
                                    {% if new.kind == 'luz' %}{{ old.p1 }}{% endif %}
                                </td>
                                <td>
                                    {{ period }}
                                </td>
                                <td>
                                    {{ new.p1 }}
                                </td>
                                <td>
                                    {{ new.st_p1 }} €
                                </td>
                            </tr>
                            {% if old.p2 != '-' %}
                                <tr>
                                    <td>
                                        P2:
                                    </td>
                                    <td>
                                        {{ old.p2 }}
                                    </td>
                                    <td>
                                        {{ period }}
                                    </td>
                                    <td>
                                        {{ old.p2_offer }}
                                    </td>
                                    <td>
                                        {{ old.st_p2 }} €
                                    </td>

                                    <td>
                                        P2:
                                    </td>
                                    <td>
                                        {{ old.p2 }}
                                    </td>
                                    <td>
                                        {{ period }}
                                    </td>
                                    <td>
                                        {{ new.p2 }}
                                    </td>
                                    <td>
                                        {{ new.st_p2 }} €
                                    </td>
                                </tr>
                            {% endif %}
                            {% if old.p3 != '-' %}
                                <tr>
                                    <td>
                                        P3:
                                    </td>
                                    <td>
                                        {{ old.p3 }}
                                    </td>
                                    <td>
                                        {{ period }}
                                    </td>
                                    <td>
                                        {{ old.p3_offer }}
                                    </td>
                                    <td>
                                        {{ old.st_p3 }} €
                                    </td>

                                    <td>
                                        P3:
                                    </td>
                                    <td>
                                        {{ old.p3 }}
                                    </td>
                                    <td>
                                        {{ period }}
                                    </td>
                                    <td>
                                        {{ new.p3 }}
                                    </td>
                                    <td>
                                        {{ new.st_p3 }} €
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td colspan="3">
                                </td>
                                <td>
                                    SUMAS
                                </td>
                                <td>
                                    <strong>{{ old.st_p }} €</strong>
                                </td>
                                <td colspan="3">
                                </td>
                                <td>
                                    SUMAS
                                </td>
                                <td>
                                    <strong>{{ new.st_p }} €</strong>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
            <table>
                <tbody>
                <tr>
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <td style="width: 6.1224%; text-align: center;">
                                    <em><u>T. Var.</u></em>
                                </td>
                                <td style="width: 15.7699%">
                                    <u><em>Consumo kWh</em></u>
                                </td>
                                <td style="width: 11.5028%">
                                    <u><em>x €/kWh</em></u>
                                </td>
                                <td style="width: 12.8015%">
                                    <u><em style="margin-right: 2em;">TOTALES</em></u>
                                </td>
                                <td rowspan="7" style="width: 5.5659%">
                                </td>
                                <td style="width: 9.2764%">
                                    <u><em>T.Var.</em></u>
                                </td>
                                <td style="width: 15.2134%">
                                    <u><em>Consumo kWh</em></u>
                                </td>
                                <td style="width: 10.3896%">
                                    <u><em>x €/kWh</em></u>
                                </td>
                                <td style="width: 12.2449%">
                                    <u><em>TOTALES</em></u>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 6.1224%;">
                                    P1:
                                </td>
                                <td style="width: 15.3989%">
                                    {{ old.c1 }}
                                </td>
                                <td style="width: 11.5028%">
                                    {{ old.c1_offer }}
                                </td>
                                <td style="width: 12.8015%">
                                    {{ old.st_c1 }} €
                                </td>
                                <td style="width: 9.2764%">
                                    P1:
                                </td>
                                <td style="width: 15.2134%">
                                    {{ old.c1 }}
                                </td>
                                <td style="width: 10.3896%">
                                    {{ new.c1 }}
                                </td>
                                <td style="width: 12.2449%">
                                    {{ new.st_c1 }} €
                                </td>
                            </tr>
                            {% if old.p2 != '-' %}
                                <tr>
                                    <td style="width: 6.1224%">
                                        P2:
                                    </td>
                                    <td style="width: 15.3989%">
                                        {{ old.c2 }}
                                    </td>
                                    <td style="width: 11.5028%">
                                        {{ old.c2_offer }}
                                    </td>
                                    <td style="width: 12.8015%">
                                        {{ old.st_c2 }} €
                                    </td>
                                    <td style="width: 9.2764%">
                                        P2:
                                    </td>
                                    <td style="width: 15.2134%">
                                        {{ old.c2 }}
                                    </td>
                                    <td style="width: 10.3896%">
                                        {{ new.c2 }}
                                    </td>
                                    <td style="width: 12.2449%">
                                        {{ new.st_c2 }} €
                                    </td>
                                </tr>
                            {% endif %}
                            {% if old.c3 != '-' %}
                                <tr>
                                    <td style="width: 6.1224%">
                                        P3:
                                    </td>
                                    <td style="width: 15.3989%">
                                        {{ old.c3 }}
                                    </td>
                                    <td style="width: 11.5028%">
                                        {{ old.c3_offer }}
                                    </td>
                                    <td style="width: 12.8015%">
                                        {{ old.st_c3 }} €
                                    </td>
                                    <td style="width: 9.2764%">
                                        P3:
                                    </td>
                                    <td style="width: 15.2134%">
                                        {{ old.c3 }}
                                    </td>
                                    <td style="width: 10.3896%">
                                        {{ new.c3 }}
                                    </td>
                                    <td style="width: 12.2449%">
                                        {{ new.st_c3 }} €
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td colspan="2" style="width: 22.0779%">
                                    <br/>
                                </td>
                                <td style="width: 10.3896%">
                                    <div style="text-align: center">
                                        SUMAS
                                    </div>
                                </td>
                                <td style="width: 12.8015%">
                                    <strong>{{ old.st_c }} €</strong>
                                </td>
                                <td colspan="2" style="width: 24.8608%">
                                    <br/>
                                </td>
                                <td style="width: 10.3896%">
                                    <div style="text-align: center">
                                        SUMAS
                                    </div>
                                </td>
                                <td style="width: 12.2449%">
                                    <strong>{{ new.st_c }} €</strong>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tbody class="left-text">
                            {% if new.kind == 'luz' %}
                                <tr>
                                <td style="width: 3em;"></td>
                                    <td>
                                        {% if new.reactive %}
                                            <em>ENERGIA REACTIVA:</em>
                                        {% endif %}
                                    </td>
                                    <td></td>
                                    <td>
                                        {% if new.reactive %}
                                            {{ new.reactive }} €
                                        {% endif %}
                                    </td>
                                    <td></td>
                                    <td>
                                        {% if new.reactive %}
                                            <em>ENERGIA REACTIVA:</em>
                                        {% endif %}
                                    </td>
                                <td></td>
                                    <td>
                                        {% if new.reactive %}
                                            {{ new.reactive }} €
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td></td>
                                <td>
                                    <em>ALQUILER EQUIPOS:</em>
                                </td>

                                <td></td>

                                <td>
                                    {{ old.rental }} €
                                </td>

                                <td style="width: 2em"></td>

                                <td>
                                    <em>ALQUILER EQUIPOS:</em>
                                </td>

                                <td></td>

                                <td>
                                    {{ new.rental }} €
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <em>{% if new.kind == 'luz' %}IMP. ELECTRICIDAD:{% else %} IMP.
                                        HIDROCARBUROS{% endif %}</em>
                                </td>

                                <td></td>

                                <td>
                                    {{ old.tax }} €
                                </td>

                                <td></td>

                                <td>
                                    <em>{% if new.kind == 'luz' %}IMP. ELECTRICIDAD:{% else %}
                                        IMP. HIDROCARBUROS{% endif %}</em> ({{ new.tax.percent }}%)
                                </td>

                                <td></td>

                                <td>
                                    {{ new.tax.value }} €
                                </td>
                            </tr>
                            {% if old.otros %}
                                <tr>
                                <td></td>
                                    <td>
                                        <em>OTROS:</em>
                                    </td>
                                    <td></td>
                                    <td>
                                        {{ old.otros }} €
                                    </td>
                                    <td></td>
                                    <td>
                                        <em>OTROS:</em>
                                    </td>
                                    <td></td>
                                    <td>
                                        - €
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td></td>
                                <td>
                                    <em>OTROS CONCEPTOS:</em>
                                </td>
                                <td></td>
                                <td>
                                    {{ old.oc }} €
                                </td>
                                <td></td>
                                <td>
                                    <em>OTROS CONCEPTOS:</em>
                                </td>
                                <td></td>
                                <td>
                                    {{ new.oc }} €
                                </td>
                            </tr>
                            {% if old.descuento %}
                                <tr>
                                <td></td>
                                    <td>
                                        <em>DESCUENTO:</em>
                                    </td>
                                    <td></td>
                                    <td>
                                        {{ old.descuento }} €
                                    </td>
                                    <td></td>
                                    <td>
                                        <em>DESCUENTO:</em>
                                    </td>
                                    <td></td>
                                    <td>
                                        - €
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td></td>
                                <td>
                                    <em>BASE IMPONIBLE:</em>
                                </td>
                                <td></td>
                                <td>
                                    {{ old.bi }} €
                                </td>
                                <td></td>
                                <td>
                                    <em>BASE IMPONIBLE:</em>
                                </td>
                                <td></td>
                                <td>
                                    {{ new.bi }} €
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    {% if old.igic == 'true' %}
                                        <em>IGIC:</em>
                                    {% else %}
                                        <em>I.V.A:</em>
                                    {% endif %}

                                    {% if old.iva.percent %}
                                        ({{ old.iva.percent }} %)
                                    {% endif %}

                                </td>

                                <td></td>

                                <td>
                                    {{ old.iva.value }} €
                                </td>

                                <td></td>
                                <td>
                                    <em>

                                        {% if old.igic == 'true' %}
                                            IGIC
                                        {% else %}
                                            I.V.A
                                        {% endif %}
                                        ({{ new.iva.percent }}):
                                    </em>
                                </td>

                                <td></td>

                                <td>
                                    {{ new.iva.value }} €
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

            <table style="table-layout: fixed">
                <tbody>
                <tr>
                    <td style="padding-left: 20px">
                        <br/>
                    </td>
                </tr>
                </tbody>
            </table>
            <div style="display: flex; align-content: center; justify-content: space-around">
                    <span style="font-size: 14px">
                        <strong style="color: red;">TOTAL:</strong> {{ old.total }} €
                    </span>

                    <span style="font-size: 14px;">
                        <strong style="color: darkgreen">TOTAL:</strong> {{ new.total }} €
                    </span>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<br>

<table>
    <tbody>
    <tr>
        <td>
            <table>
                <tbody>
                <tr>
                    <td>
                        <table style="width: 100%">
                            <tbody>
                            <tr>
                                <td
                                        style="
                                        padding: 5px;
                          text-align: left;
                          background-color: rgb(0, 70, 128);
                        "
                                >
                                    <div style="text-align: center; font-weight: bolder; font-size: 16px">
                          <span style="color: white">
                            AHORRO EN FACTURA: {{ new.profit }} € ({{ new.profit_percent }}%)
                          </span>
                                        <br/>
                                        <br/>
                                        <span style="color: white">
                            AHORRO ANUAL: {{ new.annual_profit }} €
                          </span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

{% if note %}
    <table>
        <tbody style="display: block; margin-right: 15em">
        <tr>
            <td>
            <span style="left: 0">
                <em>Nota:</em> {{ note }}
            </span>
            </td>
        </tr>
        </tbody>
    </table>
{% endif %}

<table>
    <tbody>
    <tr>
        <td>
            <table>
                <tbody>
                <tr>
                    <td>
                        <table style="table-layout: fixed">
                            <tbody>
                            <tr>
                                <td style="width: 50px">
                        <span style="font-size: 14px">
                          <span style="font-size: 11px">
                            <span style="color: rgb(0, 70, 128)">
                              <span style="color: rgb(0, 0, 0)">
                                <a href="/">
                                  <img
                                          style="width: 100%"
                                          src="https://static.tildacdn.com/tild3963-3830-4534-b366-396334633532/employee_1.png"
                                          alt="Employee"
                                          width="50"
                                  />
                                </a>
                              </span>
                            </span>
                          </span>
                        </span>
                                </td>

                                <td style="padding-left: 20px; text-align: left">
                                    <strong>Nombre del asesor:</strong> {{ agent }}
                                    <br/>
                                    <br/>
                                    <strong>Teléfono de contacto:</strong> {{ agent_phone }}
                                    <br/>
                                    <br/>
                                    <strong>Email:</strong> {{ agent_email }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<table>
    <tbody>
    <tr>
        <td style="padding-left: 15px; padding-right: 15px">
            <table
                    style="
            margin: 0 auto;
            background-color: #ffffff;
            border-spacing: 0;
          "
            >
                <tbody>
                <tr>
                    <td style="padding: 0 30px 45px 30px">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                        <span style="font-size: 14px"
                        ><span style="color: rgb(0, 70, 128)"
                        ><span style="color: rgb(0, 0, 0)"
                        ><img
                                style="width: 60px"
                                src="https://static.tildacdn.com/tild3638-3938-4639-a639-653464643630/GG_LOGO_BIG_3.png"
                                class="fr-dib"
                                width="60" alt="Logo"/></span></span
                        ></span>
                                </td>
                            </tr>
                            <tr>
                                <td
                                        style="
                          text-align: center;
                          padding: 25px 0 0;
                        "
                                >
                                    <div
                                            style="
                            margin: 0 auto;
                            font-weight: normal;
                            font-family: Helvetica Neue, Helvetica,
                              Arial, sans-serif;
                            color: #a1a1a1;
                            font-size: 14px;
                            line-height: 1.5;
                          "
                                    >
                          <span style="font-size: 14px"
                          ><span style="font-size: 11px"
                          ><span style="color: rgb(0, 70, 128)"
                          ><span style="color: rgb(0, 0, 0)"
                          ><a
                                  href="https://gestiongroup.es"
                                  style="
                                      animation: 1.3s ease-in 0s 1
                                        normal none running bong;
                                    "
                          >gestiongroup.es</a
                          ><br/> </span></span></span
                          ></span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
