<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <title>PROPUESTA DE FACTURACIÓN</title>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-card class="d-flex align-center justify-space-between pa-1">
            <v-card class="d-flex" style="max-width: 50%;">
              <img width="100%" src="https://intranet.gestiongroup.es/gg_logo_blue.png" />
            </v-card>

            <v-card class="d-flex flex-column">
              <v-card style="text-align: right"> № {{ id }} </v-card>
              <v-card style="text-align: right"> Fecha de la propuesta: {{ date }} </v-card>
              <v-card style="text-align: right"> Periodo de validez: 7 Días </v-card>
            </v-card>
          </v-card>

          <v-divider></v-divider>
          <br />

          <v-card class="d-flex justify-center text-h5">
            <v-card-title> PROPUESTA DE FACTURACIÓN </v-card-title>
          </v-card>
          <br />

          <v-card class="d-flex flex-column font-italic">
            <v-card> NOMBRE DEL CLIENTE: {{ client_name }} </v-card>
            <v-card> TARIFA: {{tarif}} </v-card>
            <v-card> COMERCIALIZADORA: {{company_name}} </v-card>
            <v-card> OFERTA: {{ name }} </v-card>
          </v-card>

          <br />

          <v-card class="d-flex flex-column font-italic font-weight-black">
            <v-card> POTENCIA: </v-card>
          </v-card>

          <v-card class="d-flex flex-column offset font-weight-light caption">
            <v-card> <span class="first-word">P1:</span> {{ up1 }} kW/h × {{ period }} dias × {{ p1 }} € = {{ st_p1 }} €  </v-card>
            {% if up2 %}
            <v-card> <span class="first-word">P2:</span> {{ up2 }} kW/h × {{ period }} dias × {{ p2 }} € = {{ st_p2 }} €  </v-card>
            {% endif %} {% if up3 %}
            <v-card> <span class="first-word">P3:</span> {{ up3 }} kW/h × {{ period }} dias × {{ p3 }} € = {{ st_p3 }} €  </v-card>
            {% endif %} {% if up4 %}
            <v-card> <span class="first-word">P4:</span> {{ up4 }} kW/h × {{ period }} dias × {{ p4 }} € = {{ st_p4 }} €  </v-card>
            {% endif %} {% if up5 %}
            <v-card> <span class="first-word">P5:</span> {{ up5 }} kW/h × {{ period }} dias × {{ p5 }} € = {{ st_p5 }} €  </v-card>
            {% endif %} {% if up6 %}
            <v-card> <span class="first-word">P6:</span> {{ up6 }} kW/h × {{ period }} dias × {{ p6 }} € = {{ st_p6 }} €  </v-card>
            {% endif %}
          </v-card>

          <br />

          <v-card class="d-flex flex-column font-italic font-weight-black">
            <v-card>CONSUMO:</v-card>
          </v-card>

          <v-card class="d-flex flex-column offset font-weight-light caption">
            {% if uc1 %}
            <v-card><span class="first-word">P1: </span>{{ uc1 }} X {{ c1 }} (€/kWh) = {{ st_c1 }} €</v-card>
            {% endif %} {% if uc2 %}
            <v-card><span class="first-word">P2: </span>{{ uc2 }} X {{ c2 }} (€/kWh) = {{ st_c2 }} €</v-card>
            {% endif %} {% if uc3 %}
            <v-card><span class="first-word">P3: </span>{{ uc3 }} X {{ c3 }} (€/kWh) = {{ st_c3 }} €</v-card>
            {% endif %} {% if uc4 %}
            <v-card><span class="first-word">P4: </span>{{ uc4 }} X {{ c4 }} (€/kWh) = {{ st_c4 }} €</v-card>
            {% endif %} {% if uc5 %}
            <v-card><span class="first-word">P5: </span>{{ uc5 }} X {{ c5 }} (€/kWh) = {{ st_c5 }} €</v-card>
            {% endif %} {% if uc6 %}
            <v-card><span class="first-word">P6: </span>{{ uc6 }} X {{ c6 }} (€/kWh) = {{ st_c6 }} €</v-card>
            {% endif %}
          </v-card>

          <br>

          <v-card class="d-flex flex-column font-italic font-weight-black">
            <v-card>OTROS CONCEPTOS:</v-card>
          </v-card>

          <v-card class="d-flex flex-column offset">
            <v-card><span class="first-word">Energía reactiva:</span> {{ reactive }} €</v-card>
            <v-card><span class="first-word">Alquiler equipos:</span> {{ rental }} €</v-card>
            <v-card>
              <span class="first-word">
                {% if kind == 'luz' %} IMP. ELECTRICIDAD: {% else %} IMP. HIDROCARBUROS {% endif %}
                <span> ({{ tax.percent}}%): </span>
              </span>
              {{ tax.value }} €
            </v-card>
            <v-card
              ><span class="first-word"
                >{% if igic == 'true' %}IGIC{% else %}I.V.A{% endif %} ({{ iva.percent }}%):</span
              >
              {{ iva.value }} €</v-card
            >
          </v-card>

          <v-card class="d-flex justify-end text-h5 font-weight-bold"> TOTAL: 1 234 567,12 € </v-card>

          <v-card class="d-flex flex-column border">
            <v-card> FACTURACIÓN ACTUAL: {{ total }} € </v-card>
            <v-card> PROPUESTA DE FACTURACIÓN: {{ total }} € </v-card>
            <br />
            <v-card> AHORRO EN FACTURA: {{ profit }} € ({{ profit_percent }}%) </v-card>
            <v-card> AHORRO ANUAL: {{ annual_profit }} € </v-card>
          </v-card>

          <br />

          <v-card class="d-flex flex-row">
            <v-card>
              <img height="60" src="https://intranet.gestiongroup.es/person.svg" />
            </v-card>
            <v-card class="d-flex flex-column" style="text-indent: 10px;">
              <v-card> Nombre del asesor: {{ agent }}</v-card>
              <v-card> Teléfono: {{ agent_phone }}</v-card>
              <v-card> Email: {{ agent_email }}</v-card>
            </v-card>
          </v-card>

          <v-card class="d-flex justify-end">
            <a href="https://gestiongroup.es" target="_blank">gestiongroup.es</a>
          </v-card>
        </v-main>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      new Vue({
        el: '#app',
        vuetify: new Vuetify(),
      })
    </script>

    <style>
      #app {
        padding: 1em;
        color: #004680;
      }

      .offset {
        text-indent: 6em;
      }

      .first-word {
        font-weight: bolder;
      }

      .border {
        border: 3px solid black;
        border-radius: 1cm;
        padding: 3px;
        text-align: center;
      }
    </style>
  </body>
</html>
