<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <title>PROPUESTA DE FACTURACIÓN</title>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-card class="d-flex align-center justify-space-between pa-1">
            <v-card>
              <img style="background-color: grey" src="https://intranet.gestiongroup.es/gg_logo_white.png" />
            </v-card>

            <v-card class="d-flex flex-column">
              <v-card style="text-align: right"> № {{ old.id }} </v-card>
              <v-card style="text-align: right"> Fecha de la propuesta: {{ date }} </v-card>
              <v-card style="text-align: right"> Periodo de validez: 7 Días </v-card>
            </v-card>
          </v-card>

          <v-divider></v-divider>
          <br />

          <v-card class="d-flex justify-center text-h5">
            <v-card-title> PROPUESTA DE FACTURACIÓN </v-card-title>
          </v-card>
          <br />

          <v-card class="d-flex flex-column font-italic">
            <v-card> NOMBRE DEL CLIENTE: {{ old.client_name }} </v-card>
            <v-card> TARIFA: {{new.tarif}} </v-card>
            <v-card> COMERCIALIZADORA: {{new.company_name}} </v-card>
            <v-card> OFERTA: {{ new.name }} </v-card>
          </v-card>

          <br />

          <v-card class="d-flex flex-column font-italic font-weight-black">
            <v-card> POTENCIA: </v-card>
          </v-card>

          <v-card class="d-flex flex-column offset font-weight-light caption">
            <v-card>              
              <span class="first-word">P1:</span> {{ new.c_st_p1 }}
            </v-card>
            <v-card>
              <span class="first-word">P2:</span> {{ new.c_st_p2 }}
            </v-card>
            <v-card>
              <span class="first-word">P3:</span> {{ new.c_st_p3 }}
            </v-card>
            <v-card>
              <span class="first-word">P4:</span> {{ new.c_st_p4 }}
            </v-card>
            <v-card>
              <span class="first-word">P5:</span> {{ new.c_st_p5 }}
            </v-card>
            <v-card>
              <span class="first-word">P6:</span> {{ new.c_st_p6 }}
            </v-card>
          </v-card>

          <br />

          <v-card class="d-flex flex-column font-italic font-weight-black">
            <v-card>CONSUMO:</v-card>
          </v-card>

          <v-card class="d-flex flex-column offset font-weight-light caption">
            <v-card> <span class="first-word">P1:</span> {{ new.c_st_c1 }} </v-card>
            <v-card> <span class="first-word">P2:</span> {{ new.c_st_c2 }} </v-card>
            <v-card> <span class="first-word">P3:</span> {{ new.c_st_c3 }} </v-card>
            <v-card> <span class="first-word">P4:</span> {{ new.c_st_c4 }} </v-card>
            <v-card> <span class="first-word">P5:</span> {{ new.c_st_c5 }} </v-card>
            <v-card> <span class="first-word">P6:</span> {{ new.c_st_c6 }} </v-card>
          </v-card>

          <v-card class="d-flex flex-column font-italic font-weight-black">
            <v-card>OTROS CONCEPTOS:</v-card>
          </v-card>

          <v-card class="d-flex flex-column offset">
            <v-card><span class="first-word">Energía reactiva:</span> {{ new.reactive }} €</v-card>
            <v-card><span class="first-word">Alquiler equipos:</span> {{ new.rental }} €</v-card>
            <v-card><span class="first-word">{% if new.kind == 'luz' %}IMP. ELECTRICIDAD:{% else %}IMP. HIDROCARBUROS{% endif %} ({{ new.tax.percent }}%):</span> {{ new.tax.value }} €</v-card>
            <v-card><span class="first-word">{% if old.igic == 'true' %}IGIC{% else %}I.V.A{% endif %} ({{ new.iva.percent }}):</span> {{ new.iva.value }} €</v-card>
          </v-card>

          <v-card class="d-flex justify-end text-h5 font-weight-bold"> TOTAL: 1 234 567,12 € </v-card>

          <v-card class="d-flex flex-column border">
            <v-card> FACTURACIÓN ACTUAL: {{ old.total }} € </v-card>
            <v-card> PROPUESTA DE FACTURACIÓN: {{ new.total }} € </v-card>
            <br />
            <v-card> AHORRO EN FACTURA: {{ new.profit }} € ({{ new.profit_percent }}%) </v-card>
            <v-card> AHORRO ANUAL: {{ new.annual_profit }} € </v-card>
          </v-card>

          <br />

          <v-card class="d-flex flex-row">
            <v-card>
              <img height="75" src="https://static.tildacdn.com/tild3963-3830-4534-b366-396334633532/employee_1.png" />
            </v-card>
            <v-card class="d-flex flex-column">
              <v-card> Nombre del asesor: {{ agent }}</v-card>
              <v-card> Teléfono: {{ agent_phone }}</v-card>
              <v-card> Email: {{ agent_email }}</v-card>
            </v-card>
          </v-card>

          <v-card class="d-flex justify-end">
            <a href="https://gestiongroup.es" target="_blank">gestiongroup.es</a>
          </v-card>
        </v-main>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      new Vue({
        el: '#app',
        vuetify: new Vuetify(),
      })
    </script>

    <style>
      #app {
        padding: 1em;
        color: #004680;
      }

      .offset {
        text-indent: 6em;
      }

      .first-word {
        font-weight: bolder;
      }

      .border {
        border: 3px solid black;
        border-radius: 1cm;
        padding: 3px;
        text-align: center;
      }
    </style>
  </body>
</html>
